<h1>Create an Artist</h1>

<%= form_for @artist  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <li>
  <input name="artist[song_ids][]">
  <input name="artist[song_ids][]">
  <input name="artist[song_ids][]">
  </li>
  <%= f.submit %>
<% end %>
